#senderMsgName {
  width: 15%;
  margin-top: 50px;
  margin-bottom: 2px;
  font-weight: bold;
}

#senderMsgBody {
  width: 85%;
  margin-bottom: 20px;
}

input {
  border: 3px solid grey;
  padding: 10px;
}

.postButton {
  background-color: #33af1a;
  padding: 10px;
  font-size: 16px;
  outline: none;
}
