html, body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.headingOne {
  font-size: 20px;
  margin-left: 230px;
}

.postedMessagesContainer {
  position: relative;
  width: 1000px;
  text-align: left;
  height: 400px;
  border: 5px solid black;
  margin-left: 230px;
  padding: 10px;
}

.messageDetails {
  margin-left: 230px;
}

#msgName {
  font-weight: bold;
}

p {
  margin: auto;
}

nav {
  border: 1px #e5e3e3 solid;
  background-color: #e5e3e3;
  width: 200px;
  height: 100%;
  position: fixed;
}

#footer {
  margin-top: 150px;
}
