h1 {
  text-align: center;
}

p {
  margin: 0px;
}

#container {
  display: flex;
  justify-content: space-between;
}

#msgName {
   font-weight: bold;
}

#messageContainer {
  width: 900px;
  text-align: left;
}

.postButton {
  background-color: #429ef4;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

#links {
  border: 1px #e5e3e3 solid;
  background-color: #e5e3e3;
  width: 200px;
}
